.header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  background-color: rgb(74, 81, 111);
  box-shadow: 0px 5px 10px rgb(59, 59, 59);

}

.link {
  padding: 5px;
  color: rgb(255, 255, 255);
}

.active {
color: #ffb325eb;
text-decoration: underline;
text-underline-offset: 3px;
}